#home {
  width: 100%;
  overflow: hidden;
  .article-1 {
    width: 100%;
    .article-1-container {
      display: flex;
      justify-content: center;
      height: 100vh;
      .article-1-left {
        position: relative;
        width: 42%;
        height: 100%;
        z-index: 2;
        img {
          height: 100%;
        }
      }
      .article-1-right {
        position: relative;
        overflow: hidden;
        width: 60%;
        .article-1-right-squre {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          z-index: 10;
          pointer-events: none;
          .article-1-right-squre-item {
            width: 100%;
            height: 100%;
            background-color: #d2d2d2;
          }
        }
        .article-1-swiper {
          position: relative;
          height: 100%;
          width: 100%;
          overflow: hidden;
          .swiper-slide {
            user-select: none;
            position: relative;
            .article-1-right-small-txt {
              position: absolute;
              bottom: 10%;
              left: 47%;
              width: 10%;
              transform: translate(-50%, 0%);
            }
            > img {
              height: 100%;
            }
            > video {
              height: 100%;
              object-fit: cover;
            }
          }
          .article-1-right-txt {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            padding: 1% 2% 0% 1%;
            img {
              padding: 1%;
            }
          }
        }
      }
    }
  }
  .article-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: white;
    .article-2-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 400px 400px 400px 400px;
      transform: scale(0.25);
      .article-2-txt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 2%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        .article-2-txt-1 {
          width: 1.25%;
        }
        .article-2-txt-2 {
          width: 21%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 7%;
        }
        .article-2-txt-3 {
          width: 5.5%;
          display: flex;
          align-items: flex-end;
        }
      }
      .article-2-img {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .article-3 {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    .article-3-container {
      width: 100%;
      background-image: url("../img/article-3-bg@2x.webp");
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: cover;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-block: 9%;
      .article-3-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 1;
        .article-3-left-top {
          display: flex;
          flex-direction: column;
        }
        .article-3-left-bottom {
          width: 50%;
          margin-right: 30%;
          margin-top: 23%;
        }
        .article-3-left-top-small {
          width: 15%;
          margin-bottom: 5%;
          overflow: hidden;
        }
        .article-3-left-top-big {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .article-3-left-top-big-title {
            width: 73%;
            overflow: hidden;
          }
          .article-3-left-top-big-more {
            width: 10%;
            margin-left: 5%;
            overflow: hidden;
          }
        }
      }
      .article-3-right {
        width: 53%;
      }
    }
    .article-3-img {
      width: 100%;
    }
  }
  .article-4 {
    width: 100%;
    .article-4-container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;

      .article-4-left {
        width: 67%;
        display: flex;
        justify-content: center;
        .article-4-left-img {
          position: relative;
          flex: 1;
          overflow: hidden;
          transition: all 0.5s;
          > img {
            transform: translateX(-105%);
          }
          .article-4-left-img-para {
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            width: 5vw;
            z-index: 3;
            transition: all 0.5s;
          }
          img {
            height: 100%;
            object-fit: cover;
          }
          .article-4-left-img-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
            transition: all 0.5s;
          }
          &:hover {
            flex: 3;
            transition: all 0.5s;
            .article-4-left-img-para {
              opacity: 1;
            }
            .article-4-left-img-back {
              opacity: 0 !important;
            }
          }
        }
      }
      .article-4-right {
        width: 33%;
        background-color: white;
        .article-4-right-container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          .article-4-right-text-re {
            display: flex;
            gap: 2vw;
          }
          .article-4-right-text-bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2.75vw;
          }
          .text-last-zh {
            width: 1vw;
          }
          .text-latest {
            width: 4.25vw;
            overflow: hidden;
          }
          .text-news {
            width: 4.25vw;
            overflow: hidden;
          }
          .text-more {
            width: 1.6vw;
          }
        }
      }
    }
    @media screen and (max-width: 1600px) {
      .article-4-container {
        height: 80vh;
      }
    }
  }
  .footer {
    width: 100%;
  }
}
